<html data-theme="light">
  <head>
    <title>{{ data.tumulte.title }} | draft | tumultes</title>

    <meta charset="utf8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.purple.min.css" />

  </head>

  <body class="tumulte edit">
    <main class="container-fluid">
      <article>
        <nav>
          <ul>
            <li>
              <hgroup>
              <h1>
                 <a href="https://sabine-pantagruweb.incongru.org/webhook/tumultes/list"><strong>Tumultes</strong></a> &gt; {{ data.tumulte.title }}
              </h1>
              <p>
                <small><a href="{{ data.tumulte.locations.http_root}}"><strong>Tumulte</strong></a> publié par <strong>{{#each data.tumulte.curators }} {{ . }} {{/each}}</strong></small>
                <small>le <strong>{{ data.tumulte.creation_date_pretty }}</strong></small>
              </p>
              </hgroup>
            </li>
          </ul>
          <ul></ul>
          <ul>
            <li><a href="" role="button"  data-placement="left" data-tooltip="Synchronisation de l'interface avec la dernière version du tumulte">↻</a></li>
            <li>
              <a role="button"  data-placement="left" data-tooltip="Édition du contenu" href="{{ data.tumulte.locations.share_url }}" target="_blank">✎</a>
            </li>
            <li>
              <a id="preview" role="button"  data-placement="left" data-tooltip="Aperçu de l'aspect qu'aura la page publique" href="{{{ data.tumulte.locations.preview_url }}}&theme=simple" target="_blank">?  </a>
            </li>
            {{#if data.tumulte.ready }}
            <li><a id="publish" data-placement="left" data-tooltip="Libérer le tumulte" role="button" href="{{ data.tumulte.locations.dist_url }}&theme=simple" target="_blank" style="background-color: #00895A;">✓</a></button></li>
            {{else}}
            <li><a id="publish" role="button" data-tooltip="Ce tumulte n'est pas encore prêt à être publié" data-placement="left" href="#" target="_blank" style="background-color: red;">☒</a></li>
            {{/if}}
          </ul>
        </nav>
        </article>
      <article>
          <details>
            <summary role="button">style</summary>
            <p>
              <small>Configurer l'apparence de la page publique.</small>
            </p>
          </details>

    <form>
      <fieldset>
        <label>
          theme
          <select id="theme" name="theme" aria-label="Choisissez un thème" required>
            <option value="simple">Simple</option>
            <option value="nelly">Nelly (WIP)</option>
          </select>
          </label>
        <!--
        <fieldset>

        <label>
          Custom CSS
        <textarea name="custom_css">

        </textarea>
        </label>
        </fieldset>
        -->
        </form>
      </article>

      <article class="grid">

        <article>
          {{#if data.tumulte.cover.url }}
          <progress value="1" max="1"></progress>
          {{else}}
          <progress value="0" max="1"></progress>
          {{/if}}
          <details>
            <summary role="button">images</summary>
            <p>
              <small>L'image de couverture est obligatoire et son nom de fichier doit être <kbd>cover.png</kbd> (ou autre extension d'image)</small>
            </p>
          </details>

          <hr>

          {{#if data.tumulte.cover.url }}
          <img width="100%" src="{{ data.tumulte.cover.url }}" />
          {{/if}}
        </article>

        <article>
          <progress value="{{ data.tumulte.tracks_well_formed }}" max="{{ data.tumulte.tracks.length }}"></progress>
          <details>
            <summary role="button">audio</summary>
            <p>
              <small>
                Les fichiers doivent se nommer <kbd>numéro de piste - nom de l'artiste - titre du morceau.extension</kbd>.
              </small>
            </p>
          </details>
          <hr>

          {{#if data.tumulte.tracks.length }}
          <ol>
          {{#each data.tumulte.tracks}}
            {{#if well_formed}}
            <li><a href="{{ url }}">{{ artist }} - {{ title }}</a></li>
            {{else }}
            <li>{{ filename }} <span class="warning" style="color:red;">(!)</span></li>
            {{/if}}
          {{/each}}
          </ol>
          {{/if}}
        </article>

      </article>
    </main>
  <script>
    document.getElementById("theme").addEventListener("change", function(event) {
      var theme = event.target.value;

      var preview = document.getElementById("preview");
      var url = new URL(preview.href);
      url.searchParams.delete("theme");
      url.searchParams.append("theme", theme);
      preview.href = url.toString();

      var publish = document.getElementById("publish");
      var url = new URL(publish.href);
      url.searchParams.delete("theme");
      url.searchParams.append("theme", theme);
      publish.href = url.toString();
    });
  </script>
  </body>
</html>