<html data-theme="light">
  <head>
    <title>{{ authUserEmail }} | tumultes</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css" />
    <style>
        article.grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-auto-rows: minmax(100px, auto);
        }

        img.cover {
          width: auto;
        }

        mark {
          color: white;
          padding: 0.2em;
        }

        mark.published {
          background-color: green
        }

        mark.badge {
          background-color: black;
        }

        mark.draft {
          background-color: darkgrey;
        }

        mark.ready {
          background-color: greenyellow ;
        }

        mark.incomplete {
          background-color: red;
        }

        p.creation_date {
          font-size: .6em !important;
        }

        article h2 {
          font-size: 1em;
        }
    </style>
  </head>

  <body class="tumulte list">
    <header>
      <article>
        <nav>
          <ul>
            <li>
              <hgroup>
                <h1>
                  <strong><a href="https://tumultes.incongru.org">Tumultes</a></strong>
                </h1>
                <p>
                  <small>curated by <strong>{{ authUserEmail }}</strong></small>
                </p>
              </hgroup>
            </li>
          </ul>
        </nav>
      </article>
    </header>

    <main class="container-fluid">

      {{#if published.length}}
      <article>
        <h1><mark class="published">publiés</mark></h1>
        <hr>
      </article>
      {{/if}}

      {{#if drafts.length}}
      <article>
        <h1><mark class="draft">brouillons</mark></h1>
        <hr>

      <article class="grid">
    {{#each drafts}}
        <article>
          <header>
            <hgroup>
            <h2>
              <a href="{{ data.contents.locations.edit_url }}">{{ data.contents.title }}</a>
            </h2>
            <p class="creation_date">
              créé le {{ data.contents.creation_date_pretty }}
            </p>
            </hgroup>
            <nav>
              <ul>
                <li> <mark class="draft" data-tooltip="Ce tumulte n'est pas visible publiquement">brouillon</mark></li>
                {{#if data.contents.ready }}
                <li> <mark class="draft ready" data-tooltip="Prêt à être publié">prêt</mark></li>
                {{else}}
                <li> <mark class="draft incomplete" data-tooltip="Des problèmes empêchent la publication">incomplet</mark></li>
                {{/if}}
              </ul>
              <ul>
                <li><mark class="badge audio" data-tooltip="Pistes audio"><strong>{{ data.contents.tracks.length }}</strong> ♫</mark></li>
              </ul>
            </nav>
          </header>
          <img class="cover" src="{{ data.contents.cover.url }}" />
          <footer>
          </footer>
        </article>
    {{/each}}
      </article>
    </article>
    {{/if}}
    </main>

  </body>
</html>