<html data-theme="light">
  <head>
    <title>{{ tumulte.title }} | tumultes </title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.zinc.min.css"/>

    <style>
.amplitude-active-song-container {
  background-color: gainsboro;
}
.amplitude-song-container:hover {
  background-color: gainsboro;
}
.playlist-wrapper {
    max-width: 600px;
}
    </style>
  </head>

  <body>
    <main class="container-fluid">
      <article>
        <h1>
          <a href="{{ tumulte.locations.http_root }}">Tumultes</a> &gt;<br>
          <a href="{{ tumulte.location.public_url }}">{{ tumulte.title }}</a>
        </h1>
        <p>
          <small>publié par <strong>{{#each tumulte.curators }} {{ . }} {{/each}}</strong></small>
          <small>le <strong>{{ tumulte.creation_date_pretty }}</strong></small>
        </p>
      </article>

      <!--
      <article>
        <span class="amplitude-play-pause">PLAY</span>
        <span class="amplitude-prev">PREV</span>
        <span class="amplitude-next">NEXT</span>
        <progress class="amplitude-song-played-progress"></progress>
        <input type="range" class="amplitude-song-slider" step=".1"/>
        <input type="range" class="amplitude-volume-slider"/>
      </article>
      -->

      <article>
        <ol>
        {{#each tumulte.songs}}
          <li>
            <div class="amplitude-song-container" data-amplitude-song-index="{{@index}}">
            {{#if well_formed }}
            <span class="amplitude-play-pause" data-amplitude-song-index="{{@index}}"><strong>{{ artist }}</strong> - {{ title }}</span>
            {{else }}
            <span class="amplitude-play-pause" data-amplitude-song-index="{{@index}}">{{ filename }}</span> <span style="color: #D93526;">(!)</span>
            {{/if}}
            </div>
          </li>
        {{/each}}
        </ol>
        </article>

        <article>
          <img src="{{ tumulte.cover.url }}" />
        </article>

    </main>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@v5.3.2/dist/amplitude.js"></script>
    <script>
	Amplitude.init({
		songs: {{{ songs_json }}}
	});
    </script>
  </body>
</html>