<html data-theme="light">
  <head>
    <title>{{ tumulte.title }} | draft | tumultes</title>

    <meta charset="utf8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.purple.min.css" />
    <link rel="stylesheet" href="{{ http_root }}/themes/nelly/styles.css?{{ timestamp }}" />
    <link rel="stylesheet" href="{{ http_root }}/themes/nelly/main.css?{{ timestamp }}" />

  </head>

  <body class="home">
    <header>
      <article>
        <nav>
          <ul>
            <h1>
              <a href="">Tumultes</a>
            </h1>
          </ul>
          <ul>
          </ul>
        </nav>

        <nav>
          <ul></ul>
          <ul>
            <li><big><button>PROVOQUER UN TUMULTE</button></big></li>
          </ul>
        </nav>
      </article>
    </header>

    <main class="container-fluid">
    </main>
  </body>
</html>