<html>
  <head>
    <title>create | draft | tumultes</title>

    <meta charset="utf8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css" />
    <link rel="stylesheet" href="{{ http_root }}/themes/nelly/styles.css?{{ timestamp }}" />
    <link rel="stylesheet" href="{{ http_root }}/themes/nelly/main.css?{{ timestamp }}" />

  </head>

  <body class="draft create">
    <header>
      <article>
        <nav>
          <ul></ul>
          <ul>
            <li>
              <h1>
                <a href="{{ http_root}}">Tumultes</a>
              </h1>
            </li>
          </ul>
        </nav>

        <nav>
          <ul></ul>
          <ul>
          </ul>
        </nav>
      </article>
    </header>

    <main>
        <article>
            <h1>PROVOQUER UN TUMULTE</h1>
            <hr>
            <form method="post" action="">
            <fieldset>
                <label>
                Titre
                <input
                    name="title"
                    placeholder="Intitulé du tumulte à venir"
                    autocomplete="title"
                    aria-label="Title"
                    aria-describedby="title-helper"
                    required
                />
                <small id="title-helper">Rien de définitif, ça peut changer en cours de route.</small>
                </label>
                <label>
                Email
                <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    autocomplete="email"
                    aria-label="Email"
                    aria-describedby="email-helper"
                    required
                />
                <small id="email-helper">Pour être prévenux quand c'est prêt :)</small>
                </label>
            </fieldset>

            <input
                type="submit"
                value="GO!"
            />
            </form>
        </article>
    </main>
  </body>
</html>