<html>
  <head>
    <title>{{ tumulte.title }} | draft | tumultes</title>

    <meta charset="utf8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css" />
    <link rel="stylesheet" href="{{ tumulte.locations.http_root }}/themes/nelly/styles.css?{{ timestamp }}" />
    <link rel="stylesheet" href="{{ tumulte.locations.http_root }}/themes/nelly/main.css?{{ timestamp }}" />

  </head>

  <body class="draft show">
    <header>
      <article>
        <nav>
          <ul></ul>
          <ul>
            <li>
              <h1>
                <a href="{{ tumulte.locations.http_root}}">Tumultes</a>
              </h1>
            </li>
          </ul>
        </nav>

        <nav>
          <ul></ul>
          <ul>
            <li><a href="{{ tumulte.locations.http_root }}/drafts">drafts</a></li>
            <li><big><button>PROVOQUER UN TUMULTE</button></big></li>
          </ul>
        </nav>
      </article>
    </header>

    <main>

      <article>
        <nav>
          <ul>
            <li>
              <h1>{{ tumulte.title }}</h1>
              <p>Ce tumulte a été créé le <strong>{{ tumulte.creation_date_pretty }}</strong> par <strong>{{#each tumulte.curators }} {{ . }} {{#unless @last}},{{/unless}} {{/each}}</strong>.</p>
            </li>
          </ul>
          <ul></ul>
          <ul>
            <li><a href="{{ tumulte.locations.share_url }}" target="_blank"></a><button>FILES</button></li>
            <li><a href=""><button>REFRESH</button></a></li>
            <li><button>PREVIEW</button></li>
            <li><button>PUBLISH</button></li>
          </ul>
        </nav>
      </article>

      <article>

        <hr>
        <section>
          <button>Gérer les métadonnées</button>
        </section>
      </article>

      <article class="grid">
        <article>
          <p><strong>1</strong> image.</p>
          <hr>
          <img src="{{ tumulte.cover.url }}" />
          <hr>
        </article>

        <article>
          <p>{{ tumulte.tracks.length }}</strong> pistes audio.</p>
          <hr>
          <ol>
          {{#each tumulte.tracks}}
            {{#if well_formed}}
            <li>{{ artist }} - {{ title }}</li>
            {{else }}
            <li>{{ filename }} <span class="warning" style="color: red;">(!)</span></li>
            {{/if}}
          {{/each}}
          </ol>
        </article>
         <hr>
          <section>
            <button>Gérer les fichiers</button>
          </section>
      </article>

      <article>
        <p>Ce tumulte est à l'état de <strong>brouillon</strong> depuis le <strong>{{ tumulte.creation_date_pretty }}</strong>.</p>
        <hr>
        <section>
          <button>Prévisualiser</button>
          <button>Rendre public</button>
        </section>
      </article>

    </main>
  </body>
</html>