<html data-theme="light">
  <head>
    <title>{{ tumulte.title }} | draft | tumultes</title>

    <meta charset="utf8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.violet.min.css" />

  </head>

  <body class="draft show">
    <main class="container-fluid">

      <article>
        <nav>
          <ul>
            <li>
              <h1><a href="{{ tumulte.locations.http_root}}">Tumultes</a> &gt; {{ tumulte.title }}</h1>
            </li>
          </ul>
        </nav>
        </article>
        <article>
        <nav>
          <ul></ul>
          <ul>
            <li><a href="" role="button" data-tooltip="Synchronisation de l'interface avec la dernière version du tumulte">MÀJ</a></li>
            <li><a href="{{ tumulte.locations.share_url }}" target="_blank" role="button" data-tooltip="Gestion des fichiers et des métadonnées">Éditer</a></li>
            <li>
              <a role="button" data-tooltip="Aperçu de l'aspect qu'aura la page publique" href="{{ tumulte.locations.preview_url }}" target="_blank">Prévisualiser</a>
            </li>
            {{#if tumulte.ready }}
            <li><a data-tooltip="Libérer le tumulte" role="button" href="{{ tumulte.locations.dist_url }}" target="_blank">Publier</a></button></li>
            {{else}}
            <li><a role="button" disabled data-tooltip="Libérer le tumulte" href="{{ tumulte.locations.dist_url }}" target="_blank">Publier</a></li>
            {{/if}}
          </ul>
        </nav>

      </article>

      <!--
      <article>
        <h3>style</h3>
        <hr>

    <form>
      <fieldset>
        <label>
          Thème
          <select name="theme" aria-label="Choisissez un thème" required>
            <option selected disabled value="">
              Choose your lover
            </option>
            <option>default</option>
            <option>simple</option>
          </select>
          </label>
        <fieldset>
        <label>
          Custom CSS
        <textarea name="custom_css">

        </textarea>
        </label>
        </fieldset>
        </form>
      </article>
      -->

      <article class="grid">
        <article>
          <h4>images</h4>
          <hr>
          {{#if tumulte.cover.url }}
          <img src="{{ tumulte.cover.url }}" />
          {{else}}
          <a href="{{ tumulte.locations.share_url }}" target="_blank">
            <button>Ajouter</button>
          </a>
          <span class="warning" style="color: red;">(!)</span>
          {{/if}}
        </article>

        <article>
          <h4>audio</h4>
          <hr>
          {{#if tumulte.tracks.length}}
          <ol>
          {{#each tumulte.tracks}}
            {{#if well_formed}}
            <li><a href="{{ url }}">{{ artist }} - {{ title }}</a></li>
            {{else }}
            <li>{{ filename }} <span class="warning" style="color: red;">(!)</span></li>
            {{/if}}
          {{/each}}
          </ol>
          {{else}}
          <a href="{{ tumulte.locations.share_url }}" target="_blank">
            <button>Ajouter</button>
          </a>
          <span class="warning" style="color: red;">(!)</span>
          {{/if}}

        </article>
      </article>
    </main>
  </body>
</html>