<html>
  <head>
    <title>{{ tumulte.title }} | draft | tumultes</title>

    <meta charset="utf8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css" />
    <link rel="stylesheet" href="{{ tumulte.locations.http_root }}/themes/nelly/styles.css?{{ timestamp }}" />
    <link rel="stylesheet" href="{{ tumulte.locations.http_root }}/themes/nelly/main.css?{{ timestamp }}" />

  </head>

  <body class="draft show">
    <header>
      <article>
        <nav>
          <ul></ul>
          <ul>
            <li>
              <h1>
                <a href="{{ tumulte.locations.http_root}}">Tumultes</a>
              </h1>
            </li>
          </ul>
        </nav>
      </article>
    </header>

    <main>

      <article>
        <nav>
          <ul>
            <li>
              <h1>{{ tumulte.title }}</h1>
              <p>Ce tumulte a été créé le <strong>{{ tumulte.creation_date_pretty }}</strong> par <strong>{{#each tumulte.curators }} {{ . }} {{#unless @last}},{{/unless}} {{/each}}</strong></p>
            </li>
          </ul>
          <ul></ul>
          <ul>
            <li><button><a href="{{ tumulte.locations.share_url }}" target="_blank">EDIT</a></button></li>
            <li><button><a href="">REFRESH</a></button></li>
            <li><button><a href="{{ tumulte.locations.preview_url }}" target="_blank">PREVIEW</a></button></li>
            {{#if tumulte.ready }}
            <li><button>PUBLISH</button></li>
            {{else}}
            <li><button disabled>PUBLISH</button></li>
            {{/if}}
          </ul>
        </nav>
      </article>

      <article>
        <select name="theme" aria-label="Choisissez le thème" required>
          <option selected disabled value="">
            alors alors ?
          </option>
          <option>Classique</option>
          <option>Fête des Mères</option>
        </select>
      </article>

      <article class="grid">
        <article>
          <p>cover</p>
          <hr>
          {{#if tumulte.cover.url }}
          <img style="height: 200px;" src="{{ tumulte.cover.url }}" />
          {{else}}
          <span class="warning" style="color: red;">(!)</span>
          {{/if}}
        </article>

        <article>
          <p>tracks</p>
          <hr>
          <ol>
          {{#each tumulte.tracks}}
            {{#if well_formed}}
            <li><a href="{{ url }}">{{ artist }} - {{ title }}</a></li>
            {{else }}
            <li>{{ filename }} <span class="warning" style="color: red;">(!)</span></li>
            {{/if}}
          {{/each}}
          </ol>
        </article>
      </article>
    </main>
  </body>
</html>