<html data-theme="light">
  <head>
    <title>{{ data.tumulte.title }} | tumultes </title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.azure.min.css"/>
    <link rel="stylesheet" href="{{ data.tumulte.locations.http_root }}/themes/nelly/main.css?{{timestamp}}" />
    <link rel="stylesheet" href="{{ data.tumulte.locations.http_root }}/themes/nelly/styles.css?{{timestamp}}" />

    <style>
.amplitude-active-song-container {
  background-color: chartreuse;
}
.amplitude-song-container:hover {
  background-color: chartreuse;
}

.playlist-wrapper {
    max-width: 600px;
}
    </style>
  </head>

  <body class="tumulte">
    <main class="container-fluid">
      <h1 class="title">
        <a href="{{ data.tumulte.location.public_url }}">{{ data.tumulte.title }}</a>
      </h1>

      <p class="blazes"><strong> // {{#each data.tumulte.curators }} {{ . }} // {{/each}} {{ data.tumulte.publication_date_pretty }}</strong></p>

      <div class="player">
        <span class="amplitude-play-pause">PLAY</span>
        <span class="amplitude-prev">PREV</span>
        <span class="amplitude-next">NEXT</span>
        <progress class="amplitude-song-played-progress"></progress>
        <input type="range" class="amplitude-song-slider" step=".1"/>
        <input type="range" class="amplitude-volume-slider"/>
      </div>

      <div class="wrapper">
        <ol class="playlist-wrapper">
        {{#each data.tumulte.songs}}
        <li>
          <div class="amplitude-song-container" data-amplitude-song-index="{{@index}}">
        {{#if well_formed }}
        <span class="amplitude-play-pause" data-amplitude-song-index="{{@index}}"><strong>{{ artist }}</strong> - {{ title }}</span>
        {{else }}
        <span class="amplitude-play-pause" data-amplitude-song-index="{{@index}}">{{ filename }}</span> <span style="color: #D93526;">(!)</span>
        {{/if}}
          </div>
        </li>
        {{/each}}
        </ol>
        <div class="cover-wrapper">
          <img style="width: 100%;" src="{{ data.tumulte.cover.url }}" />
        </div>
      </div>
    </main>
    <div class="noise">
      <img src="{{ data.tumulte.locations.http_root }}/themes/nelly/nnnoise.svg" />
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@v5.3.2/dist/amplitude.js"></script>
    <script>
	Amplitude.init({
		songs: {{{ songs_json }}}
	});
    </script>
  </body>
</html>